body {
  background-color: #f4fcd9;
  text-align: center;
  height: 350vh;
  font-family: monospace;
}
h1 {
  text-align: center;
  text-decoration: none;
  color: #019267;
  font-size: 30px;
}
h2 {
  font-size: 20px;
  color: rgb(39, 177, 39);
  text-decoration: dotted;
}
p {
  font-size: larger;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navContainer {
  border: solid orange;
  border-width: 0.5px;
  padding: 2em;
  display: flex;
}
.navPill {
  margin: auto;
  width: 22%;
  border: solid red;
  font-size: 12px;
  padding: 8px;
  border-radius: 22px;
  border-width: 0.2px;
  text-align: center;
  text-decoration: none;
}
.navPill:hover {
  margin: auto;
  width: 22%;
  border: solid rgb(18, 187, 18);
  font-size: 12px;
  padding: 8px;
  border-radius: 22px;
  background-color: greenyellow;
  color: black;
  border-width: 0.2px;
  text-align: center;
}
